* {
    box-sizing: border-box;
}

body {
    background: #44133F;
    
}

.header  {
    font-family: Lato;
    background: #111;
    text-align: center;
    border-bottom: 2px solid #f0f;
    padding-bottom: 10px;
}

.header h1 {
    font-size: 6em;
}

#main-content {
    margin: 20px auto;
}

.list {
    margin-right: 5px;
}

.btn-restaurant {
    margin-bottom: 5px;
    background: #001a65;
    /* border: none; */
    /* border: 2px solid #3be1ec; */
    
}

.btn-restaurant:hover {
    background: #001a65;
    box-shadow: 0px 0px 10px #f0f, 0px 0px 10px #f0f;
}

.btn-restaurant p {
    font-size: 1.5em;
    color: #3be1ec;
    font-family: 'Ubuntu Condensed', sans-serif;
    /* text-shadow: 1px 1px 3px #fff; */

}

.time-info .close-info {
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-shadow: 1px 1px 3px #f0f;
}

#map {
    height: 500px;
}

.radio {
    display: inline;
}

.error-input {
    background-color: yellow;
}
.error-text {
    color: red;
    font-weight: bold;
}

