/* CSS stylesheet to style HTML elements for the Still Open application.
 
   NAME: style.css
   AUTHOR: Robert Brown, Joshua Lewis, Elaina Swann
   DATE: 01/25/2018
   REVISION LOG: 
*/

* {
    box-sizing: border-box;
}

body {
    background: url('../images/skyline.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    font-family: Lato;
    background: #111;
    text-align: center;
    border-bottom: 2px solid #f0f;
    padding-bottom: 10px;
}

.header h1 {
    font-size: 6em;
}

#main-content {
    margin: 20px auto;
}

#list-container {
    height: 600px;
    margin-bottom: 20px;
}

.list {
    margin: 0;
}

.btn-restaurant {
    margin-bottom: 5px;
    background: #001a65;
    animation: slide-up 0.5s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-restaurant:hover {
    background: #001a65;
    box-shadow: 0px 0px 10px #f0f, 0px 0px 10px #f0f;
}

.btn-restaurant p {
    font-size: 1.5em;
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-shadow: 0 0 3px #3be1ec;
}

#btn-rest-next {
    font-size: 1.25em;
    color: #000;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-shadow: 0 0 3px #3be1ec;
}

.time-info .close-info {
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-shadow: 1px 1px 3px #f0f;
}

.time-info .alert-info {
    color: red;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-shadow: 1px 1px 3px #f0f;
    background: none;
    border: none;
}

.time-info {
    padding-left: 0;
}

#map-container {
    height: 600px;
}

#map {
    height: 550px;
}

#radius {
    margin-top: 10px;
    animation: slide-up 0.4s ease;
}

.radio {
    display: inline;
    margin: 0 5px;
    background: #001a65;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #3be1ec;
}

.radio:hover {
    background: #001a65;
    color: #3be1ec;
    box-shadow: 0px 0px 10px #f0f, 0px 0px 10px #f0f;
}

.modal-content {
    background: #001a65;
}

#info-modal-title {
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#addr-modal-title {
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.form-group>label {
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#info-modal-body {
    color: #3be1ec;
    font-family: 'Ubuntu Condensed', sans-serif;
    word-wrap: break-word;
}

#info-modal-body>a {
    text-decoration: none;
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#info-modal-body>a:hover {
    color: #f0f;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#info-modal-body #rest-name {
    color: #fff;
    text-decoration: underline;
    text-shadow: 0 0 3px #3be1ec;
}

#info-modal-body #address {
    color: #fff;
}

#info-modal-body #cost {
    color: #fff;
}

#info-modal-body #phone {
    color: #fff;
}

.modal-header {
    border-bottom: 2px solid #f0f;
}

.modal-footer {
    border-top: 2px solid #f0f;
}

.error-input {
    background-color: yellow;
}

.error-text {
    color: red;
    font-weight: bold;
}

#err-modal-body {
    color: #3be1ec;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#err-modal-title {
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#no-rest-message {
    color: red;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-shadow: 0 0 3px #fff, 0 0 3px #fff;
    text-align: center;
}

#error-img {
    animation: slide-up 0.5s ease;
}

@media screen and (max-width: 980px) {
    #list-container {
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    #list-container {
        height: 100%;
    }
}

@media screen and (max-width: 640px) {
    #list-container {
        height: 100%;
    }
}